<nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <a class="navbar-brand" href="/">
        <img src="/images/logoy.png" class="logo-img"/>
    </a>
    <button class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbar" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav ml-auto">
          <% myRoutes.map(route => { %>
            <li class="nav-item">
                <a class="nav-link" href="<%= route.route %>"><%= route.routeName %></a>
            </li>
          <%})%>
        </ul>
      </div>
</nav>